In [2]:
import pandas as pd
from pandas import Series
from pandas import DataFrame
import numpy as np

In [6]:
s1 = Series(
    range(1,6), index=list("abced"))
s1

a    1
b    2
c    3
e    4
d    5
dtype: int64

In [4]:
s2 = Series(
    range(5,11), index= list("bcedef")
)
s2

b     5
c     6
e     7
d     8
e     9
f    10
dtype: int64

In [9]:
s1 + s2
# 겹치는 index가 없을 경우 NaN값으로 반환

a     NaN
b     7.0
c     9.0
d    13.0
e    11.0
e    13.0
f     NaN
dtype: float64

In [8]:
s1.add(s2)

a     NaN
b     7.0
c     9.0
d    13.0
e    11.0
e    13.0
f     NaN
dtype: float64

In [10]:
s1.add(s2, fill_value=0)

a     1.0
b     7.0
c     9.0
d    13.0
e    11.0
e    13.0
f    10.0
dtype: float64

In [13]:
df = DataFrame(
    np.arange(16).reshape(4,4),
    columns = list("abcd"))
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
s2 = Series(np.arange(10,14))
s2

0    10
1    11
2    12
3    13
dtype: int64

In [16]:
df.add(s2)

    a   b   c   d   0   1   2   3
0 NaN NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN NaN

In [20]:
df.add(s2, axis=0)

    a   b   c   d
0  10  11  12  13
1  15  16  17  18
2  20  21  22  23
3  25  26  27  28