In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
list_data = [1,2,3,4,5]
example_obj = Series(data= list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
list_data = [1,2,3,4,5]
list_name = ["a","b","c","d","e"]
example_obj = Series(data = list_data, index=list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
example_obj.values

array([1, 2, 3, 4, 5])

In [8]:
type(example_obj.values)

numpy.ndarray

In [9]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
example_obj = Series(dict_data, dtype= np.float32, name = "example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

## np.float32 , np.float64차이 
 float32는 32비트를 사용하고 float64는 64비트를 사용한다는 것인데, 

이는 float64의 메모리 사용량이 두 배라는 것을 의미하며 따라서 연산속도가 느려질 수 있는 것을 의미한다.

하지만, float64는 float32에 비해 훨씬 정확하게 숫자를 나타낼 수 있으며 훨씬 큰 숫자를 저장할 수 있다는 장점을 가진다.

In [10]:
example_obj["a"]

1.0

In [11]:
example_obj["a"] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float64

In [12]:
example_obj[example_obj > 2]

a    3.2
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float64

In [13]:
example_obj * 3

a     9.6
b     6.0
c     9.0
d    12.0
e    15.0
Name: example_data, dtype: float64

In [14]:
example_obj[example_obj > 2] * 2

a     6.4
c     6.0
d     8.0
e    10.0
Name: example_data, dtype: float64

In [15]:
np.exp(example_obj)

a     24.532530
b      7.389056
c     20.085537
d     54.598150
e    148.413159
Name: example_data, dtype: float64

- ## numpy.exp() 
밑이 자연상수 e인 지수함수(e^x)로 변환

In [24]:
"b" in example_obj

True

In [25]:
"f" in example_obj

False

In [26]:
example_obj.to_dict()

{'a': 3.2, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [27]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [28]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ])

In [29]:
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float64

In [30]:
dict_data_1 = {"a":1, "b":2, "c":3, "d":4, "e":5}
indexes = ["a","b","c","d","e","f","g","h"]
series_obj_1 = Series(dict_data_1, index=indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64